@import 'style_variables';

.header_nav {
	background-color: #f19d2f;
}

.header_nav__img {
	display: block;
	padding: 11px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	font-family: $mainFont;
}

.main_logo {
	background-color: #ffd1ac;
}

.main_logo__img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 218px;
	padding: 20px;
}

.main_banner {
	position: relative;
}

.main_banner__img {
	position: relative;
	width: 100%;
	z-index: 0;
}

.main_banner__timer-wrapper {
	position: absolute;
	background-color: #f19d2f;
	width: 103px;
	height: 68px;
	border-radius: 7.1px;
	padding: 9px, 7.1px, 9px, 7.1px;
	text-align: center;
	color: #ffffff;
	font-size: 10.6px;
	font-weight: 700;
	z-index: 1;
	margin-top: -23%;
	margin-left: 5%;
}

.main_banner__timer-text {
	font-size: 10.6px;
}

.main_banner__timer {
	font-size: 21.25px;
}

.main_banner__price-wrapper {
	position: absolute;
	background-color: #37d997;
	width: 116px;
	height: 68px;
	border-radius: 5.68px;
	padding: 6.49px, 7.02px, 5.68px, 7.02px;
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	z-index: 1;
	margin-top: -23%;
	margin-left: 70%;
}

.main_banner__price-old {
	font-size: 18.08px;
	margin-top: 5px;
	margin-bottom: -0.8em;
	text-decoration: line-through;
	text-decoration-color: #e27500;
	text-decoration-line: line-through;
	text-decoration-thickness: 3.51px;
}

.main_banner__price-new {
	font-size: 22.3px;
}

.main_brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	font-weight: 400;
	margin-top: 5px;
	margin-left: 16px;
	margin-right: 16px;
}

.main_brand__img {
	width: 72px;
	height: 18px;
}

.main_brand__link {
	color: #37d997;
}

.main_section {
	margin-left: 16px;
	margin-right: 16px;
	font-size: 15px;
}

.main_section__title {
	font-size: 19px;
	font-weight: 700;
	font-style: normal;
	color: #2c2b31;
}

.main_section__slider-img {
	width: 100%;
	border-radius: 20px;
}

.main_section__slider-images {
	display: flex;
	justify-content: space-between;
	margin: 3% auto;
}

.main_section__slider-image {
	width: 80px;
	border-radius: 10px;
}

.main_section__img {
	width: 1em;
}

.main_section__description-bold {
	font-weight: 900;
}

.rating_cont__img {
	width: 14px;
	height: 13px;
}

.main_section__options {
	display: flex;
	justify-content: space-between;
}

.main_section__cont-select {
	display: flex;
	flex-direction: column;
}

.main_section__label-select {
	font-size: 10px;
	text-align: center;
	margin: 3%;
	margin-top: 1vh;
}

.main_section__select {
	font-size: 21px;
	font-weight: 700;
	padding: 15px 30px;
	border-radius: 15px;
	width: 45vw;
	height: 100%;
	text-align: center;
}

.main_section__button {
	background-color: #37d997;
	border-radius: 15px;
	border-color: #ffffff;
	color: #ffffff;
	font-size: 30px;
	width: 100%;
	padding: 10px 0;
	margin: 3% 0;
}

@media screen and (max-width: 387px) {
	.main_banner__timer-wrapper {
		margin-top: -28%;
	}

	.main_banner__price-wrapper {
		margin-top: -28%;
		margin-left: 60%;
	}

	.header_nav__img {
		width: 80%;
	}

	.main_section__description {
		font-size: 13px;
	}

	.main_section__slider-image {
		width: 70px;
	}

	.main_section__cont-select {
		margin: 1%;
	}
}
