/*подключение шрифтов*/
@font-face {
	font-family: 'Inclusive Sans';
	src: url(/assets/fonts/InclusiveSans-Regular.ttf);
}

@font-face {
	font-family: 'Inclusive Sans Italic';
	src: url(/assets/fonts/InclusiveSans-Italic.ttf);
}
